{% load static %} 
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
	<title>Вход в аккаунт</title>
</head>
<body class="auth-body">
	<form class="auth-form" method="post">
		{% csrf_token %}
		<h1>Вход в аккаунт</h1>
		<label for="id_username">Ваше имя пользователя:</label>
		<input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
		
		<label for="id_password">Ваш пароль:</label>
		<input type="password" name="password" autocomplete="current-password" required id="id_password">
		{% if form.errors %}
		    <ul class="error-list">
		    	<li>Имя пользователя или пароль неверны</li>
		    </ul>
		{% endif %}
		<input type="submit" name="login" value="Войти">
		<a href="{% url 'authentication' %}">Еще нет аккаунта?</a>
		<a href="{% url 'home' %}">Вернуться на главную</a>
	</form>	
</body>
</html>