* {
    box-sizing: border-box;
}

body {
	background-color: #212121;
	margin: 0;
    padding: 0;
}

a {
	text-decoration: none;
	color: none;
}

.group-card {
    border: 2px solid #3500D3;
    border-radius: 5px;
    background: none;
}

.group-card h6 {
    color: #FF9800;
}

.group-card h4 {
    color: #fff;
}

.group-card h6:hover {
    color: #fff;
}

.group-card h4:hover {
    color: #FF9800;
}

.student-card {
    border: 3px solid #3500D3;
    border-radius: 5px;
    background-color: floralwhite;
}

.student-card span {
    font-weight: bold;
}

.student-card .idd {
    color: #FF9800;
}

.student-card a {
    border: 1px solid #3500D3;
    font-weight: 400;
}

.student-card a:hover {
    border: 2px solid #FF9800;
    font-weight: 400;
    background: none;
    color: #212121;
}

.join_leave {
    border-color: #fff;
    color: #fff;
}

.join_leave:hover {
    border-color: #3500D3;
    color: #fff;
}

.student-info-card {
    border: 3px solid #3500D3;
    border-radius: 10px;
    background-color: floralwhite;
}

.student-info-card .labels {
    font-weight: bold;
    font-size: larger;
}
.student-info-card a {
    text-decoration: none;
    color: #212121;
}

.student-info-card a:hover {
    text-decoration: none;
    color: #3500D3;
}

.student-info-card .btn:hover {
    color: #fff;
}

.student-info-card h4 {
    font-weight: normal;
}

.student-info-card .btn-edit {
    border: 1px solid #3500D3;
}

.student-info-card .btn-edit:hover {
    border: 2px solid #FF9800;
    color: #212121;
}

.my-navbar {
    border-bottom: 1px solid #FF9800;
    font-weight: bold;
}

.my-navbar .link {
    color: #fff;
}

.my-navbar .link:hover, .nav-link.active.link:hover{
    text-transform: uppercase;
    color: #F98000;
}

.my-navbar .link:active, .nav-link.active.link:active{
    color: #FF9800;
}

.error-list li {
    color: red;
    font-weight: bold;
    margin-right: 35px;
}

.auth-body {
    background-color: #212121;
    margin: 0;
    padding: 0;
}

.auth-form {
    background: floralwhite;
    width: 450px;
	padding: 45px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 10px;
}

.auth-form h1 {
    color: #212121;
    text-transform: uppercase;
}

.auth-form input, .auth-form select {
    border: 2px solid #FF9800;
    border-radius: 24px;
	background: none;
	display: block;
	margin: 10px auto;
	text-align: center;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	transition: 0.25s;

}

.auth-form textarea {
	border: 2px solid #FF9800;
    border-radius: 24px;
	background: none;
	display: block;
	margin: 10px auto;
	text-align: center;
	padding: 14px 10px;
	width: 350px;
	outline: none;
	transition: 0.25s;
}

.auth-form textarea:focus {
	width: 350px;
	border-color: #3500D3;
}

.auth-form a {
    text-decoration: none;
    color: #757575;
}

.auth-form a:hover {
	color: #212121;
}

.auth-form input:focus, .auth-form section:focus {
	width: 250px;
	border-color: #3500D3;
}

.auth-form input[type = 'submit'] {
	border: 0;
	background: #FF9800;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #212121;
	padding: 14px 40px;
	outline: none;
	color: #212121;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
    width: 250px;
}

.auth-form input[type = 'submit']:hover {
	background: #3500D3;
    color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
}

.open-popup {
    display: inline-block;
    padding: 15px 30px;
    text-transform: uppercase;
    background: #FF9800;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
}

.open-popup:hover, .open-popup:active {
    display: inline-block;
    padding: 20px 35px;
    text-transform: uppercase;
    background: #FF9800;
    color: #212121;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
}

.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.popup__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
    z-index: 999;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 400px;
    padding: 25px;
    transition: 0.5s all;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.popup label {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column-reverse;
}

.popup .label__text {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #3500D3;
    margin-bottom: 5px;
}

.popup input {
    height: 45px;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 1px solid #3500D3;
}

.popup input:focus, .popup input:active {
    border-bottom: 1px solid #FF9800;
}

.popup input:focus + .label__text, .popup input:active + .label__text {
    color: #FF9800;
}

.popup textarea {
    resize: none;
    width: 100%;
    height: 150px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
    font-size: 18px;
    padding-top: 5px;
}

.popup textarea:focus, .popup textarea:active {
    border-bottom: 1px solid #FF9800;
}

.popup textarea:focus + .label__text, .popup textarea:active + .label__text {
    color: #FF9800;
}

.popup input[type = 'submit'] {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    border: 2px solid #3500D3;
    background: #3500D3;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all;
}

.popup input[type = 'submit']:hover, .popup input[type = 'submit']:active {
    background: #fff;
    color:#212121;
    transition: 0.5s all;
}

.achievement {
    border: 2px solid #3500D3;
}

.achievement:hover {
    border: 3px solid #3500D3;
}

.achievement a {
    font-weight: 500;
}

.achievement a:hover {
    color: #FF9800;
}

/* for mobile-users classes */

.my-navbar .link:active, .nav-link.active.link:active{
    color: #FF9800;
}

.btn-groupName h4:active {
    color: #FF9800;
}

.btn-groupName h6:active {
    color: #fff;
}

/* .btnProfile:active {  !!!НЕ РАБОТАЕТ!!!
    border-color: red;
} */

.join_leave:active {
    border-color: #3500D3;
}

/* .btn-edit:active {
    border-color: red;
} */

.student-info-card a:active {
    text-decoration: none;
    color: #3500D3;
}

.achievement:active {
    border: 2px solid #3500D3;
}
.achievement a:active {
    color: #FF9800;
}