{% extends 'base.html' %}
{% load static %}

{% block title %} Ошибка 500 {% endblock %}

{% block content %}
<div class="container">
    <div class="row mx-auto text-center mt-5">
        <h1 style="color: #FF9800;" class="mt-5">Ошибка на сервере или неверный запрос! <span style="color: red">Error 500</span></h1>
        <h3 style="color: #FF9800">Воспользуйтесь панелью навигации сверху или откройте другую страницу</h3>
        <h4 style="color: #3500D3">Если ошибка не проходит, дождитесь ее исправления</h4>
    </div>
</div>
{% endblock %}