<div class="container my-5">
    <hr style="color: white">
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #212121"
            >
        <div>
          <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </section>
 
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold">ГБПОУ Колледж "Царицыно"</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #FF9800; height: 2px"
                  />
              <p>
                Отделение Управления и Информационных Технологий
              </p>
            </div>
            
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold">Контакты</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #FF9800; height: 2px"
                  />
              <p>
                <a href="mailto:tsaritsino@edu.mos.ru" class="fas fa-home me-3">tsaritsino@edu.mos.ru</a>
              </p>
              <p>
                <a href="tel:+74953912333" class="fas fa-home me-3">Тел: +7(495)391-23-33</a>
              </p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold">Автор</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #FF9800; height: 2px"
                  />
              <p>
                <a href="https://collegetsaritsyno.mskobr.ru/" class="fas fa-home me-3">Москва, ул. Генерала Белова, д. 6</a>
              </p>
              <p>
                <a href="mailto:efimo-olesya@mail.ru" class="fas fa-home me-3">efimo-olesya@mail.ru</a>
              </p>
            </div>
          </div>
        </div>
      </section>

      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2022
      </div>
    </footer>
</div>
