{% extends 'base.html' %}
{% load static %}

{% block title %} {{group.groupName}} {% endblock %}

{% block content %}
    
<div class="container">
    <div class="row mx-auto">
        {% if not isStudent %}
            <a class="join_leave mt-3 text-center btn btn-outline-dark" href="{% url 'join-group' group.groupName %}">Присоединиться ко группе</a>
        {% else %}
            <a class="join_leave mt-3 text-center btn btn-outline-dark" href="{% url 'leave-group' group.groupName %}">Вы уже вступили в группу {{requestGroup}}. Покинуть группу?</a>
        {% endif %}
        <div class="container col col-md-3 col-sm-4 mt-2 mb-5 mt-4 mb-4 p-3 d-flex justify-content-center">
            <div class="student-card card p-4">
                <div class="image d-flex flex-column justify-content-center align-items-center"> 
                    {% if groupTeacher.teacherPhoto %}
                        <img src="{{groupTeacher.teacherPhoto.url}}" class="rounded" height="100" width="100">
                    {% else %}
                        <button class="btn btn-secondary"> 
                        <img src="{% static 'images/default-photo.jpeg' %}" height="100" width="100"></button>
                    {% endif %}
                    <span class="name mt-3">{{groupTeacher.fullName}}</span>
                    <div class="d-flex flex-row justify-content-center align-items-center gap-2 mb-2 mt-3"> <span class="idd">Куратор группы</span></div>
                    <div class=" d-flex mt-2"> <a href="{% url 'teacher-info' groupTeacher.id %}" class="btn btnProfile">Профиль</a> </div>
                    <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"></div>
                </div>
            </div>
        </div>
        {% for student in students %}
            <div class="container col col-md-3 col-sm-4 mt-2 mb-5 mt-4 mb-4 p-3 d-flex justify-content-center">
                <div class="student-card card p-4">
                    <div class="image d-flex flex-column justify-content-center align-items-center"> 
                        {% if student.student.avatar %}
                            <img src="{{student.student.avatar.url}}" class="rounded" height="100" width="100">
                        {% else %}
                            <button class="btn btn-secondary"> 
                            <img src="{% static 'images/default-photo.jpeg' %}" height="100" width="100"></button>
                        {% endif %}
                        <span class="name mt-3">{{student.shortName}}</span> <span class="idd">@{{student.student.username}}</span>
                        <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span class="idd1">{{student.group}}</span></div>
                        <div class=" d-flex mt-2"> <a href="{% url 'student-info' student.student.username %}" class="btn btnProfile">Профиль</a> </div>
                        <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}