{% extends 'base.html' %}
{% load static %}

{% block title %} ГБПОУ Колледж Царицыно {% endblock %}

{% block content %}
<div class="container">
    <div class="row mx-auto justify-content-around">
        {% for group in groups %}
        <div class="col col-md-3 col-sm-4 mt-2 mb-5">
            <div class="card group-card" style="width: 12rem;">
                <div class="card-body">
                  <a class="btn-groupName" href="{{group.get_url}}"><h4 class="card-title">{{group.groupName}}</h4></a>
                  <a class="btn-groupName" href="{{group.get_teacher}}"><h6 class="card-title">{{group.groupTeacher}}</h6></a>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}